<!DOCTYPE html>
<html>
	<head>
		<title>iPizza</title>
		<link rel="stylesheet" type="text/css" href="/static/bootstrap.css">
		<script type="text/javascript" src="/static/angular.js"></script>
		<script type="text/javascript" src="/static/pizza_client.js"></script>
	</head>
	<body ng-app="pizzaClient" ng-controller="OrderListController">
		<h2 class="text-info">Kazdy dzien to dzien pizzy!</h2>

		<table class="table table-default" style="width:500px;">
			<thead>
				<tr>
					<th>Osoba</th>
					<th>Dodatki</th>
				</tr>
			</thead>
			<tbody>
			<tr ng-repeat="order in data">
				<td>{{order.person}}</td>
				<td>{{order.toppings}}</td>
			</tr>
			</tbody>
		</table>

		<form class="form-inline">
			<div class="form-group">
				<label for="input1">osoba</label>
				<input type="text" class="form-control" id="input1" name="person" ng-model="form_data.person">
			</div>
			<div class="form-group">
				<label for="input2">dodatki</label>
				<input type="text" class="form-control" id="input2" name="toppings" ng-model="form_data.toppings">
			</div>
			<button class="btn btn-default" ng-click="add()">Send</button>
		</form>
	</body>
</html>