<!DOCTYPE html>
<html>
	<head>
		<title>iPizza</title>
		<link rel="stylesheet" type="text/css" href="/static/bootstrap.css">
	</head>
	<body>
		<h2 class="text-info">{{day}} to dzien pizzy!</h2>

		<table class="table table-default" style="width:500px;">
			<thead>
				<tr>
					<th>Osoba</th>
					<th>Dodatki</th>
				</tr>
			</thead>
			<tbody>
				{% for order in data %}
				<tr>
					<td>{{ order.person }}</td>
					<td>{{ order.toppings }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>

		<form class="form-inline" method="post" action="add">
			<div class="form-group">
				<label for="input1">osoba</label>
				<input type="text" class="form-control" id="input1" name="person">
			</div>
			<div class="form-group">
				<label for="input2">dodatki</label>
				<input type="text" class="form-control" id="input2" name="toppings">
			</div>
			<button type="submit" class="btn btn-default">Send</button>
		</form>
	</body>
</html>